@import "bourbon/bourbon";
@import "neat/neat";

// Colors
$atlantic_blue:       #32436E;
$pacific_blue:        #1164B0;
$miami_vice_blue:     #3A96B7;
$white:               #eee;
$black:               #333;
$gray:                #4D4D4D;
$background_white:    #EAE4D2;
$serif:               'Merriweather', serif;
$sans-serif:          'Open Sans', sans-serif;

body {
  background: $background_white;
  font-family: $serif;
  margin: 0;
}

a {
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}
a:hover {
  text-decoration: underline;
}

ol, ul {
  list-style-type: decimal;
  list-style-position: inside;
  li {
    margin: 1em 0;
  }
}

h1 {
  font-size: 50px;
  font-weight: 300;
  border-bottom: 1px solid $white;
  padding-bottom: 0.25em;
  margin-bottom: 20px;
  line-height: 65px;
}

h2 {
  font-family: $serif;
  font-size: 54px;
  font-weight: 300;
}

h3 {
  font-family: $sans-serif;
  font-size: 18px;
}

h4 {
  font-family: $serif;
  font-size: 18px;
  color: $miami_vice_blue;
}

h5 {
  font-family: $sans-serif;
  font-size: 14px;
}

#navigation_bar {
  background: red;
  color: blue;
  // @include outer-container();
  .title {
  }
}

#introduction {
  background: $atlantic_blue;
  color: $white;

  p {
    @include span-columns(8);
    font-family: $sans-serif;
    font-size: 20px;
    line-height: 38px;
    margin-top: 19px;
    font-weight: lighter;
  }
}

#plays_index {
  background: $miami_vice_blue;
  color: $black;
  h3 { 
    color: $white;
    font-size: 26px;
    font-weight: lighter;
  }
  
  ol li {
    color: #333;
    font-size: 23px;
    font-weight: 400;
  }
  a {
    color: $black;
  }
}

#plays {
  h2, h4 {
    @include span-columns(7);
  }
  h4 {
    margin-top: 1em;
  }
  h5 {
    font-size: 14px;
  }
  p, ol, ul {
    @include span-columns(8);
  }
  ol {
    list-style-type: square;
  }
  li {
    font-size: 14px;
  }
  ul {
    list-style-type: circle;
    list-style-position: inside;
  }
}

.outer_container {
  @include outer-container();
  padding: 40px;
}