@import "bourbon/bourbon";
@import "neat/neat";

// Colors
$atlantic_blue:       #32436E;
$pacific_blue:        #1164B0;
$miami_vice_blue:     #3A96B7;
$white:               #eee;
$black:               #333;
$gray:                #4D4D4D;
$background_white:    #EAE4D2;
$serif:               'Merriweather', serif;
$sans-serif:          'Open Sans', sans-serif;

body {
  background: $background_white;
  font-family: $serif;
  margin: 0;
  line-height: 28px;
}

a {
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ol, ul {
  list-style-type: decimal;
  list-style-position: inside;
  li {
    margin: 1em 0;
  }
}

h1 {
  font-size: 50px;
  font-weight: 300;
  border-bottom: 1px solid $white;
  padding-bottom: 0.25em;
  margin-bottom: 20px;
  line-height: 65px;
}

h2 {
  font-family: $serif;
  font-size: 54px;
  line-height: 65px;
  font-weight: 300;
  margin-top: 0;
}

h3 {
  font-family: $sans-serif;
  font-size: 18px;
}

h4 {
  font-family: $serif;
  font-size: 18px;
  color: $miami_vice_blue;
  margin-bottom: 0;
}

h5 {
  font-family: $sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
}

.outer_container {
  @include outer-container();
  padding: 40px;
}

.inner_container {
  @include shift(1);
  @include span-columns(10);
}

// #navigation_bar {
//   background: red;
//   color: blue;
//   // @include outer-container();
//   .title {
//   }
// }

#introduction {
  background: $atlantic_blue;
  color: $white;

  p {
    max-width: 600px;
    font-family: $sans-serif;
    font-size: 20px;
    line-height: 38px;
    margin-top: 40px;
    font-weight: lighter;
  }
}

#navigation_bar {
  visibility: hidden;
  position: fixed;
  width: 100%;
  background: $atlantic_blue;
  color: $white;
  font-family: $serif;
  .outer_container {
    padding: 0 40px;
  }

  h4 {
    padding: 20px 0;
    margin-top: 0;
    font-size: 20px;
    color: $white;
    font-weight: lighter;
    line-height: 20px;
    display: inline-block;
  }
  h4:hover {
    text-decoration: underline;
  }

  ul {
    float: right;
    display: inline;
    padding: 0;
    list-style-position: outside;
  }

  .active_play {
    a {
      background: $white;
      // color: $white;
      text-decoration: none;
    }
  }

  li {
    display: inline;
    margin-left: 5px;
    list-style-type: none;
    background: $miami_vice_blue;

    a {
      display: inline-block;
      background: $miami_vice_blue;
      height: 24px;
      width: 24px;
      text-align: center;
      // padding: 2px 0px;
      font-size: 12px;
      font-family: $serif;
      color: $atlantic_blue;
      border: 1px solid $miami_vice_blue;
    }
    a:hover {
      background: $white;
      // color: $white;
      text-decoration: none;
    }
  }
}

#navigation_bar.show {
  visibility: visible;
}

#plays_index {
  background: $miami_vice_blue;
  color: $black;

  h3 { 
    color: $white;
    font-size: 26px;
    font-weight: lighter;
  }
  
  .columns {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
  }

  ol {
    list-style-position: outside;
  }
  
  ol li {
    color: $white;
    font-size: 23px;
    font-weight: lighter;
    // padding-right: 40px;
    // padding-left: 40px;
    margin-top: 0;
    margin-left: 10px;
  }
  
  a {
    color: $black;
  }
}

// #play_navigation_container {
//   padding-top: 20px;
//   background: $background_white;
//   .outer_container {
//     padding: 0px 40px;
//   }
// }

// .isStuck {
//   // position:fixed;
//   // top: 0;
//   width: 100%;
//   .outer_container {
//     padding: 0px 40px;
//     #play_navigation {
//       ul {
//         margin-top: 0;
//       }
//     }
//   }
// }


#plays {  
  h2, h4 {
    @include span-columns(7);
  }
  h4 {
    margin-top: 1em;
  }
  h5 {
    font-size: 14px;
  }
  p, ol, ul {
    @include span-columns(8);
  }
  ol {
    list-style-type: square;
  }
  li {
    font-size: 15px;
    line-height: 25px;
  }
  ul {
    list-style-type: circle;
    list-style-position: inside;
  }

  #play_navigation {
    ul, ol {
      @include span-columns(12);
    }

    ul {
      padding: 0;
      list-style-position: outside;
      background: $background_white;
    }

    .active_play {
      a {
        background: $miami_vice_blue;
        color: $white;
        text-decoration: none;
      }
    }

    li {
      float: left;
      margin-right: 20px;
      list-style-type: none;
      a {
        display: inline-block;
        background: none;
        height: 40px;
        width: 40px;
        text-align: center;
        padding: 7px 0px;
        font-size: 18px;
        font-family: $sans-serif;
        color: $miami_vice_blue;
        border: 1px solid $miami_vice_blue;
      }

      a:hover {
        background: $miami_vice_blue;
        color: $white;
        text-decoration: none;
      }
    }
  }
}