* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #eae4d2;
  font-family: "Merriweather", serif;
  margin: 0;
  line-height: 28px; }

a {
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-decoration: none; }

a.anchor_offset {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden; }

a:hover {
  text-decoration: underline; }

ol, ul {
  list-style-type: decimal;
  list-style-position: inside; }
  ol li, ul li {
    margin: 1em 0;
    color: #333333; }

h1 {
  font-size: 50px;
  font-weight: 300;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 0.25em;
  margin-bottom: 20px;
  line-height: 65px; }
  @media screen and (min-width: 0px) and (max-width: 640px) {
    h1 {
      font-size: 28px;
      line-height: 36px; } }

h2 {
  font-family: "Merriweather", serif;
  font-size: 54px;
  line-height: 65px;
  font-weight: 300;
  margin-top: 0;
  color: #333333; }
  @media screen and (min-width: 0px) and (max-width: 640px) {
    h2 {
      font-size: 32px;
      line-height: 42px; } }

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px; }

h4 {
  font-family: "Merriweather", serif;
  font-size: 18px;
  color: #3a96b7;
  margin-bottom: 0; }

h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
  color: #333333;
  font-weight: lighter; }

p {
  color: #333333; }

.outer_container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 40px; }
  .outer_container:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 0px) and (max-width: 640px) {
    .outer_container {
      padding: 20px; } }

.inner_container {
  margin-left: 8.5298%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%; }
  .inner_container:last-child {
    margin-right: 0; }
  @media screen and (min-width: 0px) and (max-width: 640px) {
    .inner_container {
      margin-left: 0%;
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 100%; }
      .inner_container:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 641px) and (max-width: 980px) {
    .inner_container {
      margin-left: 0%;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .inner_container:last-child {
        margin-right: 0; } }

#introduction {
  background: #32436e;
  color: #eeeeee;
  padding-bottom: 60px; }
  #introduction p {
    max-width: 600px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 38px;
    margin-top: 40px;
    font-weight: lighter;
    color: #eeeeee; }
  @media screen and (min-width: 0px) and (max-width: 640px) {
    #introduction {
      padding-bottom: 20px; }
      #introduction p {
        font-size: 16px;
        line-height: 24px;
        margin-top: 20px; } }

#navigation_bar {
  visibility: hidden;
  position: fixed;
  width: 100%;
  background: #32436e;
  color: #eeeeee;
  font-family: "Merriweather", serif; }
  #navigation_bar .outer_container {
    padding: 0 40px; }
  #navigation_bar h4 {
    padding: 20px 0;
    margin-top: 0;
    font-size: 20px;
    color: #eeeeee;
    font-weight: lighter;
    line-height: 20px;
    display: inline-block; }
  #navigation_bar h4:hover {
    text-decoration: underline; }
  #navigation_bar ul {
    float: right;
    display: inline;
    padding: 0;
    list-style-position: outside; }
  #navigation_bar .active_play a {
    background: #eeeeee;
    text-decoration: none; }
  #navigation_bar li {
    display: inline;
    margin-left: 5px;
    list-style-type: none;
    background: #3a96b7; }
    #navigation_bar li a {
      display: inline-block;
      background: #3a96b7;
      height: 24px;
      width: 24px;
      text-align: center;
      font-size: 12px;
      font-family: "Merriweather", serif;
      color: #32436e;
      border: 1px solid #3a96b7; }
    #navigation_bar li a:hover {
      background: #eeeeee;
      text-decoration: none; }
  @media screen and (min-width: 0px) and (max-width: 640px) {
    #navigation_bar ul {
      display: none; }
    #navigation_bar .outer_container {
      padding: 0 20px; }
    #navigation_bar h4 {
      font-size: 16px;
      padding: 16px 0;
      line-height: 16px; } }

#navigation_bar.show {
  visibility: visible; }

#plays_index {
  background: #3a96b7;
  color: #333333;
  padding-bottom: 60px; }
  #plays_index h3 {
    color: #eeeeee;
    font-size: 23px;
    font-weight: normal;
    margin-bottom: 38px; }
  #plays_index .columns {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px; }
  #plays_index ol {
    list-style-position: inside;
    padding-left: 0px;
    margin-top: 0px; }
  #plays_index ol, #plays_index li {
    color: #eeeeee;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 0; }
  #plays_index a {
    vertical-align: top;
    color: #333333;
    margin-top: 0;
    display: inline-block;
    width: 85%; }
  @media screen and (min-width: 0px) and (max-width: 640px) {
    #plays_index {
      padding-bottom: 20px; }
      #plays_index h3 {
        font-size: 18px;
        margin-bottom: 20px; }
      #plays_index ol, #plays_index li {
        font-size: 16px;
        line-height: 24px; } }
  @media screen and (min-width: 641px) and (max-width: 980px) {
    #plays_index .columns {
      -moz-column-count: 1;
      -moz-column-gap: 0px;
      -webkit-column-count: 1;
      -webkit-column-gap: 0px;
      column-count: 1;
      column-gap: 00px; } }
  @media screen and (min-width: 0px) and (max-width: 640px) {
    #plays_index .columns {
      -moz-column-count: 1;
      -moz-column-gap: 0px;
      -webkit-column-count: 1;
      -webkit-column-gap: 0px;
      column-count: 1;
      column-gap: 00px; } }

#plays h2, #plays h4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  #plays h2:last-child, #plays h4:last-child {
    margin-right: 0; }
#plays h4 {
  margin-top: 0px; }
#plays h2 {
  margin-bottom: 24px; }
#plays h5 {
  font-size: 14px; }
#plays p {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  #plays p:last-child {
    margin-right: 0; }
#plays ol, #plays ul {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  list-style-position: outside;
  padding-left: 25px; }
  #plays ol:last-child, #plays ul:last-child {
    margin-right: 0; }
#plays ol {
  list-style-image: url("../images/bullet-sq1.svg");
  margin-top: 0px; }
#plays li {
  font-size: 15px;
  line-height: 25px;
  padding-left: 5px; }
#plays ul {
  list-style-image: url("../images/bullet-circle1.svg"); }
@media screen and (min-width: 0px) and (max-width: 640px) {
  #plays p {
    font-size: 16px;
    line-height: 24px; }
  #plays ol, #plays li {
    font-size: 14px;
    line-height: 20px; }
  #plays h2, #plays h4, #plays p, #plays ol, #plays ul {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%; }
    #plays h2:last-child, #plays h4:last-child, #plays p:last-child, #plays ol:last-child, #plays ul:last-child {
      margin-right: 0; } }
@media screen and (min-width: 641px) and (max-width: 980px) {
  #plays h2, #plays h4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    #plays h2:last-child, #plays h4:last-child {
      margin-right: 0; }
  #plays p {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
    #plays p:last-child {
      margin-right: 0; } }
