* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #eae4d2;
  font-family: "Merriweather", serif;
  margin: 0;
  line-height: 28px; }

a {
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

ol, ul {
  list-style-type: decimal;
  list-style-position: inside; }
  ol li, ul li {
    margin: 1em 0; }

h1 {
  font-size: 50px;
  font-weight: 300;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 0.25em;
  margin-bottom: 20px;
  line-height: 65px; }

h2 {
  font-family: "Merriweather", serif;
  font-size: 54px;
  line-height: 65px;
  font-weight: 300;
  margin-top: 0; }

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px; }

h4 {
  font-family: "Merriweather", serif;
  font-size: 18px;
  color: #3a96b7;
  margin-bottom: 0; }

h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-bottom: 15px; }

.outer_container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 40px; }
  .outer_container:after {
    content: "";
    display: table;
    clear: both; }

.inner_container {
  margin-left: 8.5298%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%; }
  .inner_container:last-child {
    margin-right: 0; }

#introduction {
  background: #32436e;
  color: #eeeeee; }
  #introduction p {
    max-width: 600px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 38px;
    margin-top: 40px;
    font-weight: lighter; }

#navigation_bar {
  visibility: hidden;
  position: fixed;
  width: 100%;
  background: #32436e;
  color: #eeeeee;
  font-family: "Merriweather", serif; }
  #navigation_bar .outer_container {
    padding: 0 40px; }
  #navigation_bar h4 {
    padding: 20px 0;
    margin-top: 0;
    font-size: 24px;
    color: #eeeeee;
    font-weight: lighter;
    line-height: 24px;
    display: inline-block; }
  #navigation_bar h4:hover {
    text-decoration: underline; }

#navigation_bar.show {
  visibility: visible; }

#plays_index {
  background: #3a96b7;
  color: #333333; }
  #plays_index h3 {
    color: #eeeeee;
    font-size: 26px;
    font-weight: lighter; }
  #plays_index .columns {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px; }
  #plays_index ol {
    list-style-position: outside; }
  #plays_index ol li {
    color: #eeeeee;
    font-size: 23px;
    font-weight: lighter;
    margin-top: 0;
    margin-left: 10px; }
  #plays_index a {
    color: #333333; }

#plays h2, #plays h4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%; }
  #plays h2:last-child, #plays h4:last-child {
    margin-right: 0; }
#plays h4 {
  margin-top: 1em; }
#plays h5 {
  font-size: 14px; }
#plays p, #plays ol, #plays ul {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  #plays p:last-child, #plays ol:last-child, #plays ul:last-child {
    margin-right: 0; }
#plays ol {
  list-style-type: square; }
#plays li {
  font-size: 15px;
  line-height: 25px; }
#plays ul {
  list-style-type: circle;
  list-style-position: inside; }
#plays #play_navigation ul, #plays #play_navigation ol {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  #plays #play_navigation ul:last-child, #plays #play_navigation ol:last-child {
    margin-right: 0; }
#plays #play_navigation ul {
  padding: 0;
  list-style-position: outside;
  background: #eae4d2; }
#plays #play_navigation .active_play a {
  background: #3a96b7;
  color: #eeeeee;
  text-decoration: none; }
#plays #play_navigation li {
  float: left;
  margin-right: 20px;
  list-style-type: none; }
  #plays #play_navigation li a {
    display: inline-block;
    background: none;
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 7px 0px;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: #3a96b7;
    border: 1px solid #3a96b7; }
  #plays #play_navigation li a:hover {
    background: #3a96b7;
    color: #eeeeee;
    text-decoration: none; }
