* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media screen {
  body {
    background: white;
    font-family: "Merriweather", Georgia, serif;
    margin: 0;
    line-height: 28px; }

  body#techfar_landing_page {
    background: #36435a; }

  a {
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    text-decoration: none; }

  a.anchor_offset {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden; }

  a:hover {
    text-decoration: underline; }

  ol, ul {
    list-style-type: decimal;
    list-style-position: inside; }
    ol li, ul li {
      margin: 1em 0;
      color: #333333; }

  h1 {
    font-size: 50px;
    font-weight: 300;
    border-bottom: 1px solid white;
    padding-bottom: 0.25em;
    margin-bottom: 20px;
    line-height: 65px; } }
  @media screen and (min-width: 0px) and (max-width: 640px) {
    h1 {
      font-size: 28px;
      line-height: 36px; } }

@media screen {
  h2 {
    font-family: "Merriweather", Georgia, serif;
    font-size: 54px;
    line-height: 65px;
    font-weight: 300;
    margin-top: 0;
    color: #333333; } }
  @media screen and (min-width: 0px) and (max-width: 640px) {
    h2 {
      font-size: 32px;
      line-height: 42px; } }

@media screen {
  h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px; }

  h4 {
    font-family: "Merriweather", Georgia, serif;
    font-size: 18px;
    color: #3a96b7;
    margin-bottom: 0; }

  h5 {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    color: #333333;
    font-weight: lighter; }

  p {
    color: #333333; }

  .outer_container {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 40px; }
    .outer_container:after {
      content: "";
      display: table;
      clear: both; } }
  @media screen and (min-width: 0px) and (max-width: 640px) {
    .outer_container {
      padding: 20px; } }

@media screen {
  .inner_container {
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
    .inner_container:last-child {
      margin-right: 0; } }
  @media screen and (min-width: 0px) and (max-width: 640px) {
    .inner_container {
      margin-left: 0%;
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 100%; }
      .inner_container:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 641px) and (max-width: 980px) {
    .inner_container {
      margin-left: 0%;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .inner_container:last-child {
        margin-right: 0; } }

@media screen {
  .button {
    font-size: inherit;
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    margin-top: 40px;
    margin-right: 20px; }
    .button a {
      display: inline-block;
      padding: 10px 30px;
      text-decoration: none;
      border: 1px solid white;
      min-width: 172px;
      text-align: center; }
    .button a:hover {
      background: white;
      color: #36435a;
      text-decoration: none; } }
  @media screen and (min-width: 0px) and (max-width: 640px) {
    .button {
      margin-top: 20px;
      display: block;
      margin-right: 0;
      text-align: left; } }

@media screen {
  #alpha_tag {
    float: right;
    background: green;
    color: white;
    padding: 10px;
    font-family: "Open Sans", sans-serif; }

  #introduction {
    background: #36435a;
    color: white;
    padding-bottom: 60px; }
    #introduction a {
      text-decoration: underline; }
    #introduction a:hover {
      background: white;
      color: #36435a; }
    #introduction .button a {
      text-decoration: none; }
    #introduction p {
      max-width: 600px;
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      line-height: 38px;
      margin-top: 40px;
      font-weight: lighter;
      color: white; }
    #introduction p.download_links {
      font-size: 16px; } }
  @media screen and (min-width: 0px) and (max-width: 640px) {
    #introduction {
      padding-bottom: 20px; }
      #introduction p {
        font-size: 16px;
        line-height: 24px;
        margin-top: 20px; } }

@media screen {
  #navigation_bar {
    visibility: hidden;
    display: none;
    position: fixed;
    width: 100%;
    height: 0;
    background: #36435a;
    color: white;
    font-family: "Merriweather", Georgia, serif; }
    #navigation_bar .outer_container {
      padding: 0 40px; }
    #navigation_bar h4 {
      padding: 20px 0;
      margin-top: 0;
      font-size: 20px;
      color: white;
      font-weight: lighter;
      line-height: 20px;
      display: inline-block; }
    #navigation_bar h4:hover {
      text-decoration: underline; }
    #navigation_bar ul {
      float: right;
      display: inline;
      padding: 0;
      list-style-position: outside; }
    #navigation_bar .active a {
      background: #3a96b7;
      color: white;
      text-decoration: none; }
    #navigation_bar li {
      display: inline;
      margin-left: 5px;
      list-style-type: none; }
      #navigation_bar li a {
        display: inline-block;
        height: 24px;
        width: 24px;
        line-height: 22px;
        text-align: center;
        font-family: "Merriweather", Georgia, serif;
        font-weight: lighter;
        color: white;
        border: 1px solid #3a96b7; }
      #navigation_bar li a:hover {
        background: #3a96b7;
        color: white;
        text-decoration: none; }
    #navigation_bar #menu_icon {
      display: none;
      height: 14px;
      width: 16px;
      margin-top: 16px;
      float: right;
      background-image: url("../images/menu_icon.svg");
      background-size: contain; }
      #navigation_bar #menu_icon a {
        display: block;
        height: 100%;
        width: 100%; } }
  @media screen and (min-width: 0px) and (max-width: 640px) {
    #navigation_bar ul {
      display: none; }
    #navigation_bar #menu_icon {
      display: inline-block; }
    #navigation_bar .outer_container {
      padding: 0 20px; }
    #navigation_bar h4 {
      font-size: 16px;
      padding: 16px 0;
      line-height: 16px; } }
  @media screen and (min-width: 641px) and (max-width: 980px) {
    #navigation_bar ul {
      display: none; }
    #navigation_bar #menu_icon {
      display: inline-block;
      margin-top: 20px;
      height: 18px;
      width: 20px; } }

@media screen {
  #navigation_bar.show {
    visibility: visible;
    display: block;
    height: 60px; } }
  @media screen and (min-width: 0px) and (max-width: 640px) {
    #navigation_bar.show {
      height: 48px;
      visibility: visible;
      display: block; } }

@media screen {
  #plays_index {
    background: #3a96b7;
    color: #333333;
    padding-bottom: 60px; }
    #plays_index h3 {
      color: white;
      font-size: 23px;
      font-weight: normal;
      margin-bottom: 38px; }
    #plays_index .columns {
      -moz-column-count: 2;
      -moz-column-gap: 20px;
      -webkit-column-count: 2;
      -webkit-column-gap: 20px;
      column-count: 2;
      column-gap: 20px; }
    #plays_index ol {
      list-style-position: inside;
      padding-left: 0px;
      margin-top: 0px; }
      #plays_index ol a {
        vertical-align: top;
        color: white;
        margin-top: 0;
        display: inline-block;
        width: 85%; }
      #plays_index ol a:hover {
        color: #333333; }
    #plays_index ol, #plays_index li {
      color: white;
      font-size: 20px;
      font-weight: lighter;
      margin-top: 0; }
    #plays_index .button a {
      color: white; }
    #plays_index .button a:hover {
      color: #333333; } }
  @media screen and (min-width: 0px) and (max-width: 640px) {
    #plays_index {
      padding-bottom: 20px; }
      #plays_index h3 {
        font-size: 18px;
        margin-bottom: 20px; }
      #plays_index ol, #plays_index li {
        font-size: 16px;
        line-height: 24px; } }
  @media screen and (min-width: 641px) and (max-width: 980px) {
    #plays_index .columns {
      -moz-column-count: 1;
      -moz-column-gap: 0px;
      -webkit-column-count: 1;
      -webkit-column-gap: 0px;
      column-count: 1;
      column-gap: 00px; } }
  @media screen and (min-width: 0px) and (max-width: 640px) {
    #plays_index .columns {
      -moz-column-count: 1;
      -moz-column-gap: 0px;
      -webkit-column-count: 1;
      -webkit-column-gap: 0px;
      column-count: 1;
      column-gap: 00px; } }

@media screen {
  #plays h2, #plays h4, #techfar h2, #techfar h4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    #plays h2:last-child, #plays h4:last-child, #techfar h2:last-child, #techfar h4:last-child {
      margin-right: 0; }
  #plays h4, #techfar h4 {
    margin-top: 0px;
    color: #36435a; }
  #plays h2, #techfar h2 {
    margin-bottom: 24px; }
  #plays h5, #techfar h5 {
    font-size: 14px; }
  #plays p, #techfar p {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    #plays p:last-child, #techfar p:last-child {
      margin-right: 0; }
  #plays ol, #plays ul, #techfar ol, #techfar ul {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    list-style-position: outside;
    padding-left: 25px; }
    #plays ol:last-child, #plays ul:last-child, #techfar ol:last-child, #techfar ul:last-child {
      margin-right: 0; }
  #plays ol, #techfar ol {
    list-style-image: url("../images/bullet-sq.svg");
    margin-top: 0px; }
  #plays li, #techfar li {
    font-size: 15px;
    line-height: 25px;
    padding-left: 5px; }
  #plays ul, #techfar ul {
    list-style-image: url("../images/bullet-circle.svg"); }
  #plays a, #techfar a {
    color: #36435a;
    text-decoration: underline;
    display: inline-block; }
  #plays a:hover, #techfar a:hover {
    color: white;
    background: #36435a; } }
@media screen and (min-width: 0px) and (max-width: 640px) {
  #plays p, #techfar p {
    font-size: 16px;
    line-height: 24px; }
  #plays ol, #plays li, #techfar ol, #techfar li {
    font-size: 14px;
    line-height: 20px; }
  #plays h2, #plays h4, #plays p, #plays ol, #plays ul, #techfar h2, #techfar h4, #techfar p, #techfar ol, #techfar ul {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%; }
    #plays h2:last-child, #plays h4:last-child, #plays p:last-child, #plays ol:last-child, #plays ul:last-child, #techfar h2:last-child, #techfar h4:last-child, #techfar p:last-child, #techfar ol:last-child, #techfar ul:last-child {
      margin-right: 0; } }
@media screen and (min-width: 641px) and (max-width: 980px) {
  #plays h2, #plays h4, #techfar h2, #techfar h4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    #plays h2:last-child, #plays h4:last-child, #techfar h2:last-child, #techfar h4:last-child {
      margin-right: 0; }
  #plays p, #techfar p {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
    #plays p:last-child, #techfar p:last-child {
      margin-right: 0; } }

@media screen {
  #techfar em {
    font-size: 12px;
    line-height: 0;
    vertical-align: super; }
  #techfar h2, #techfar h4 {
    margin-top: 20px; }
  #techfar img {
    max-width: 100%; } }
@media print {
  body {
    background: white;
    font-family: "Merriweather", Georgia, serif;
    font-weight: lighter;
    line-height: 1.5em;
    font-size: 12px;
    margin-left: 16.5%;
    margin-right: 16.5%; }

  #plays_index ol {
    list-style-type: decimal; }
  #plays_index a {
    text-decoration: none; }

  #navigation_bar {
    display: none; }

  a {
    color: black;
    text-decoration: underline; }

  ol, ul {
    width: 80%; }

  ol {
    list-style-type: square; }

  p {
    width: 100%; }

  h2, h4 {
    width: 66%; }

  h2 {
    margin-top: 0px; }

  h5 {
    margin-top: 60px;
    margin-bottom: 0px; }

  .button {
    display: none; } }
