* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #eae4d2;
  font-family: "Merriweather", serif;
  margin: 0; }

a {
  color: inherit;
  font-family: inherit;
  font-weight: inherit; }

a:hover {
  text-decoration: underline; }

ol, ul {
  list-style-type: decimal;
  list-style-position: inside; }
  ol li, ul li {
    margin: 1em 0; }

h1 {
  font-size: 50px;
  font-weight: 300;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 0.25em;
  margin-bottom: 20px;
  line-height: 65px; }

h2 {
  font-family: "Merriweather", serif;
  font-size: 54px;
  font-weight: 300; }

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px; }

h4 {
  font-family: "Merriweather", serif;
  font-size: 18px;
  color: #3a96b7; }

h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px; }

#navigation_bar {
  background: red;
  color: blue; }

#introduction {
  background: #32436e;
  color: #eeeeee; }
  #introduction p {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 38px;
    margin-top: 19px;
    font-weight: lighter; }
    #introduction p:last-child {
      margin-right: 0; }

#plays_index {
  background: #3a96b7;
  color: #333333; }
  #plays_index h3 {
    color: #eeeeee;
    font-size: 26px;
    font-weight: lighter; }
  #plays_index ol li {
    color: #333;
    font-size: 23px;
    font-weight: 400; }
  #plays_index a {
    color: #333333; }

#plays h2, #plays h4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%; }
  #plays h2:last-child, #plays h4:last-child {
    margin-right: 0; }
#plays h4 {
  margin-top: 1em; }
#plays h5 {
  font-size: 14px; }
#plays p, #plays ol, #plays ul {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  #plays p:last-child, #plays ol:last-child, #plays ul:last-child {
    margin-right: 0; }
#plays ol {
  list-style-type: square; }
#plays li {
  font-size: 14px; }
#plays ul {
  list-style-type: circle;
  list-style-position: inside; }

.outer_container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 40px; }
  .outer_container:after {
    content: "";
    display: table;
    clear: both; }
