<!DOCTYPE html>
<html>
<head>
  <title>Page Not Found</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <link href='//fonts.googleapis.com/css?family=Merriweather:400,300,700|Open+Sans:300,400' rel='stylesheet' type='text/css'>
  <link href='{{site.baseurl}}/assets/css/styles.css' rel='stylesheet' />
</head>

<body>

<div id="introduction">
  <div class="outer_container">
    {{ content }}
  </div>
</div>
<script src='{{site.baseurl}}/assets/site.js'></script>
</body>
</html>
