---
title: 'This is my Site Title'
plays: 
  - play1
  - play2
  - play3
  - play4
  - play5
  - play6
  - play7
  - play8
  - play9
  - play10
  - play11
  - play12
  - play13
---
<!DOCTYPE html>
<html>
<head>
  <title>The U.S. Digital Services Playbook</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,700|Open+Sans:300,400' rel='stylesheet' type='text/css'>
  <link href='{{site.baseurl}}/assets/css/styles.css' rel='stylesheet' />
</head>

<body>

<div id="navigation_bar">
   <div class="outer_container">
    <div class="inner_container">
      <a href="#introduction"><h4>U.S. Digital Services Playbook</h4></a>
      <ul>
        {% for play in page.plays %}
          <li class="play_square"><a href="#{{play}}">{{ play | remove: "play" }}</a></li>
        {% endfor %}
      </ul>
      <div id="menu_icon">
        <a href="#plays_index_anchor" title="Return to Index"></a>
      </div>
    </div>
  </div>
</div>

<div id="introduction">
  <div class="outer_container">
    <div class="inner_container">
      {% capture introduction %}{% include introduction.md %}{% endcapture %}
      {{ introduction | markdownify }}
    </div>
  </div>
</div>

<div id="plays_index">
  <div class="outer_container">
    <div class="inner_container">
      <a class="anchor_offset" id="plays_index_anchor"></a>
      <h3>DIGITAL SERVICE PLAYS</h3>
      <div class="columns">
        {% capture plays_index %}{% include plays_index.md %}{% endcapture %}
        {{ plays_index | markdownify }}
      </div>
    </div>
  </div>
</div>

<div id="plays" class="outer_container">
  {% for play in page.plays %}
    <div class="inner_container">
      <a class="anchor_offset" id="{{ play }}"></a>
      {% capture play_content %}{% include {{ play | append: '.md'}} %}{% endcapture %}
      {{ play_content | markdownify }}
    </div>
  {% endfor %}
</div>

<script src='{{site.baseurl}}/assets/js/jquery-1.11.1.min.js'></script>
<script src='{{site.baseurl}}/assets/js/stickUp.min.js'></script>
<script src='{{site.baseurl}}/assets/js/site.js'></script>
</body>