<!DOCTYPE html>
<html lang="en">
<head>
  <title>The TechFAR Handbook — from the U.S. Digital Service</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='shortcut icon' href='{{site.baseurl}}/assets/images/favicon.ico' type='image/x-icon' />
  <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/images/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/images/favicon-16x16.png" sizes="16x16" />
  <link href='//fonts.googleapis.com/css?family=Merriweather:400,300,700|Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
  <link href='{{site.baseurl}}/assets/css/styles.css' rel='stylesheet' />
</head>

<body id="techfar_landing_page">

<div id="navigation_bar">
   <div class="outer_container">
    <div class="inner_container">
      <a href="#introduction"><h4>The TechFAR Handbook</h4></a>
    </div>
  </div>
</div>

<div id="introduction" class="techfar_intro">
  <div class="outer_container">
    <div class="inner_container">
      {{ content }}
      <div class="button">
        <a href="https://techfarhub.cio.gov/handbook/" title="Link to View the Handbook">Read the Handbook</a>
      </div>
  </div>
  </div>
</div>

<script async id="_fed_an_js_tag" type="text/javascript" src="{{site.baseurl}}/assets/js/federated-analytics.all.min.js?agency=EOP&amp;sub-agency=USDS"></script>
</body>
</html>
